<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.mapper.StudentMapper">

    <insert id="insertStudent">
        insert into student values(#{id},#{name},#{email},#{age})
    </insert>

    <select id="selectStudents" resultType="Student">
        select id,name,email,age from student order by id desc
    </select>

    <update id="updateStudent">
        update student set name=#{name },email=#{email},age=#{age} where id = #{id}
    </update>

    <delete id="deleteStudent">
        delete from student where id = #{studentId}
    </delete>

    <select id="selectById" resultType="Student">
        select id,name,email,age from student where id=#{id}
    </select>
</mapper>
